<% @page_heading = _('New article') %>
<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <% if @isEditPage %>
	<%= form_tag({:controller => "admin/content", :action => "merge",:id=>@article.id }, :method => "put", :class => 'article') do %>
		  <h2><%= "Merge Articles" %></h2>
		  <%= label_tag(:merge_with, "Article ID") %>
		  <%= text_field_tag(:merge_with) %>
		<%if @isAdmin%>
		  <%= submit_tag("Merge") %>
		<% end %>
	<% end %>
  <% end %>